#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* justify-content: center; */
  /* display:flex; */
  /* flex-wrap: wrap; */
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  text-align: center;
  /* border: 2px solid black; */
  margin: 10px 20px;
  height: 300px;
  background-color:#11B9D0 ;
  border-radius: 10px;
}

.read-the-docs {
  color: #888;
}

body {
background-image: url(./assets/background.jpg);
background-size: fill;
background-color: #000;
}

nav {
  /* background-color: #B399A2; */
  border-radius: 10px;
  /* border: 4px dashed #253237; */
}

h1 {
  font-size: 3.5rem;
  color: rgb(10, 172, 194);
  /* background-color: rgba(37, 50, 55, .70); */
  display: inline;
  font-family: 'lucida handwriting',sans-serif;
  border-radius: 10px;
  text-shadow: #fff 2px 2px 4px;
}

ul {
  list-style: none;
  /* color: #b9e8fa; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; */
}

.nav-item a {
  text-decoration: none;
  color: #b3eafb;
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
  
}

header {
  background-color: rgb(2, 7, 18, .60);
  border-radius: 10px;
  /* border-bottom: 2px solid #3DDFF5; */
 
}

.nav-tabs {
  padding: 0;
}

.nav-link-active {
  color: aqua;
}

h2 {
  /* color: #0F3077; */
  float: left;
  border-right: #fff 2px solid;
  font-size: 2.5rem;
  color: #0A245C;

}

.about-me {
  border-top: 3px white solid;
  background-color: rgb(255, 255, 255, .70);
  border-radius: 10px;
  width: 80%;
}

.avatar{
  width: 7rem;
  border-radius: 100px;
  border: 2px black solid;
}
.footer {
  background-color: aqua;
  position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
}

.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  text-decoration: none;
  color:#0A245C;
}

.img :hover {
  box-shadow:  #8EF6F6 2px 2px 20px;
}

.project-img {
  height: 13rem;
}

h3 {
  font-family: 'lucida handwriting',sans-serif;
}